---
title: Konferencia program
---

{% for day in site.data.program %}
<h5>{{day.date-hu}}</h5>
  <ul style="list-style-type: none;">
  {% for event in day.events %}
    <li>
      {{event.start}}-{{event.finish}}: 
      {% if event.sections or event.presentation%}
        <a href="sections.html#{{event.name}}"><b>{{event.name}}</b></a>
      {% else %}
        <b>{{event.name}}</b>
      {% endif %}
      {% comment %} ({{event.place}}) {% endcomment %}
      {% if event.sections %}
      : {% for section in event.sections %}
          {% if forloop.first == false %} / {% endif %}
          {{section.name}} ({{section.presentations.size}})
        {% endfor %}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endfor %}

