---
title: Konferencia program
---

{% for day in site.data.program %}
<h5>{{day.date-hu}}</h5>
  <ul style="list-style-type: none;">
  {% for event in day.events %}
    <li>
      {{event.start}}-{{event.finish}}: 
      {% if event.sections or event.presentation%}
        <a href="sections.html#{{event.name}}"><b>{{event.name}}</b></a>
      {% else %}
        <b>{{event.name}}</b>
      {% endif %}
      ({{event.place}})
      {% if event.sections %}
      <ul>
        {% for section in event.sections %}
          <li>{{section.name}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endfor %}

