---
title: Szekciók
---

{% for day in site.data.program %}
<h5>{{day.date-hu}}</h5>
  {% for event in day.events %}
    {% if event.sections or event.presentation %}
      <div class="border border-dark rounded-0 my-4 px-0 mx-0 row" id="{{event.name}}">
        <div class="col-12 d-flex justify-content-between psat-blue-white">
          <div class="p-1"> {{event.start}} </div> 
          <div class="p-1"> <b>{{event.name}}</b> </div>
          <div class="p-1"> {{event.finish}} </div>
        </div>
        {% if event.sections %}
          {% assign col = 12 | divided_by: event.sections.size %}
          {% for section in event.sections %}
            <div class="col-sm-{{col}} px-0">
              <div class="list-group rounded-0">
                <div class="list-group-item psat-gold-blue">{{section.name}}</div>
                <!--div class="list-group-item list-group-item-light">Elnök: {{section.chair}}</div-->
                {% for presentation_id in section.presentations %} 
                {% for presentation in site.presentations %}
                {% assign raw_id=presentation.id | remove: "/presentations/" %}
                {% if presentation_id == raw_id %}
                  <a href="{{site.baseurl}}{{presentation.url}}" class="list-group-item list-group-item-action list-group-item-light text-dark">
                    <b>{{presentation.title}}</b> - {{presentation.presenter}}
                  </a>
                {% endif %}
                {% endfor %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}        
        {% endif %}
        {% if event.presentation %}
          <div class="col-12 p-2">
            {% for presentation in site.presentations %}
            {% assign raw_id=presentation.id | remove: "/presentations/" %}
            {% if event.presentation == raw_id %}
            <a href="{{site.baseurl}}{{presentation.url}}" class="text-dark" style="display: block;text-decoration: none;">
              <h5 class="mb-1">{{presentation.title}}</h5>
              <p class="mb-1">{{presentation.presenter}}</p>
              <div class="d-md-inline d-sm-none d-none">
                <hr class="mx-4">
                {{presentation.content | slice: 0, 300 | append: "... " }}
              </div>
            </a>
            {% endif %}
            {% endfor %}
          </div> 
        {% endif %} 
      </div>
    {% endif %}    
  {% endfor %}
{% endfor %}

