body
{
	background-color:#fdfcf8;
}

a
{
	color:#a28f56;
	text-decoration:none;
}

a:hover
{
	color:#2b406F;
	text-decoration:none;
}

.psat-blue-white
{
	background: #45587f;
	color: white;
}

.psat-gold-blue 
{
	background: #ccc1a1;
	color: #55668C;
	text-shadow: 0px 0px 8px #ffffff;
}

.border-3 {
  border-width:13px !important;
}
